html,
body {
    height: 100%;
}

body {
    background: linear-gradient(to bottom, #011023, #5381b2) no-repeat;
    color: white;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    /* font-size: 38em; */
    /* font-weight: 38; */
    font-style: normal;
}

footer {
    position: absolute;
    bottom: 0;
}

main {
    width: 100%;
    height: 80%;
    display: flex; /* Добавляем flex для main */
    justify-content: center;
    align-items: center;
}

.login_logo {
    margin-bottom: 50%;
    color: #c2e8ff;
    font-size: 3em;
    display: flex; /* Добавляем flex для main */
    justify-content: center;
    align-items: center;
}

#login-windows {
    width: 30%;
    max-width: 300px;
    margin: 0 10px;
    /* position: relative; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

.login-windows_input-wrapper {
    margin-bottom: 5%;
}

input[type="text"] {
    /* Основные стили для input */
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff; /* Тонкая линия снизу */
    padding: 10px 0;
    width: 100%;
    font-size: 16px;
    color: #fff;

    /* Плавные переходы */
    transition: all 0.3s ease;
}

/* Стили для состояния фокуса */
input[type="text"]:focus {
    outline: none;
    color: #c2e8ff;
    border-color: #007bff;
}

/* Стили для placeholder */
input[type="text"]::placeholder {
    color: #7292bb;
    /* opacity: 0.8; */
    transition: opacity 0.3s ease;
}

/* Дополнительные эффекты при фокусе */
input[type="text"]:focus::placeholder {
    opacity: 0;
}

/* Базовые стили для кнопок */
.button {
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.2s ease;
    margin: 0 auto;
}

/* Контейнер для кнопок */
.login-windows_button-container {
    display: flex;
    /* gap: 20px;
    margin-top: 20px; */
}

/* Стили для первичной кнопки */
.button.primary {
    background-color: #5482b3;
    color: white;
}

.button.primary:hover {
    background-color: #0069d9;
}

.button.primary:active {
    background-color: #0056b3;
}

/* Стили для вторичной кнопки */
.button.secondary {
    background-color: #7191b9;
    color: white;
}

.button.secondary:hover {
    background-color: rgba(0, 123, 255, 0.1);
}

.button.secondary:active {
    background-color: rgba(0, 123, 255, 0.2);
}

.a.forgot-pass {
    margin-top: 3px;
    font-size: 0.85rem;
}

.a.havnt-account {
    margin: 0 auto;
    margin-top: 3px;
    font-size: 0.85rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.a,
.a:visited {
    color: #7292bb;
    transition: all 0.3s ease;
}

.a:hover {
    color: #84abdd;
    transition: all 0.3s ease;
}

.a:active {
    color: #5777a1;
    transition: all 0.3s ease;
}
