:root {
    --font-color: #fff;
    --logo-color: #c2e8ff;
    --dark-color: #011023;
}

::selection {
    background: rgba(250, 255, 255, 0.3);
    /* color: #000; */
}

body {
    background: var(--dark-color);
    color: var(--font-color);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    /* font-size: 38em; */
    /* font-weight: 38; */
    font-style: normal;
}

header {
    /* max-width: 1000px; */
    /* display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem; */
}

/* Контейнеры */

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
}

.container.header {
    justify-content: space-between;
}

.container.main {
}

.project-container {
}

.logo {
    color: var(--logo-color);
    font-size: clamp(2rem, 3vw, 10rem);
    cursor: default;
}

.header-nav {
    color: var(--font-color);
    font-size: clamp(1rem, 1.3vw, 10rem);
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-a {
    display: flex;
    align-items: center; /* вот тут текст будет строго по центру иконки */
    gap: 0.5rem; /* расстояние между иконкой и текстом */
    text-decoration: none;
}

/* SVG-иконки */

.forum-icon {
    /* stroke: #3498db; */
    width: 1em;
    height: 0.8em;
    stroke-width: 2;
    fill: var(--logo-color);
}

.wiki-icon {
    width: 1em;
    height: 0.8em;
    stroke: var(--logo-color);
    stroke-width: 2;
    stroke-linecap: "round";
    stroke-linejoin: "round";
}

.user-icon {
    height: 70%;
    stroke: #5482b3;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
}

/* Кнопка входа / навигации (профиль, etc.) */

.user-button {
    width: clamp(2rem, 2.8vw, 10rem);
    height: clamp(2rem, 2.8vw, 10rem);
    margin-left: 1rem;
    background: var(--logo-color);
    border-radius: 10px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* MAIN */

.main-section {
    margin: 0 auto;
}
/* .main-h {
    margin: 0 auto;
} */

/* Cards */

.project-card {
    position: relative;
    width: 220px; /* или 100% в гриде/флексе */
    height: 300px;
    /* background-color:; */
    /* background: url("https://i.pinimg.com/550x/87/ad/4a/87ad4a1150e6d03d624d9a4f036e97db.jpg")
        center/cover no-repeat; */
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
}

.project-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* Градиент поверх картинки */
.project-card::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, #4c78a5, transparent);
}

/* затемнённая градиентная плашка снизу */
.project-card-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    /* background: linear-gradient(to top, #4c78a5, transparent); */
    color: white;
    font-size: 1rem;
}

.project-card-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    padding: 1rem;
    z-index: 1;
}
